* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;

}


.background {
    background-image: url(assets/img/eletrodomesticos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.background2 {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    align-items: center;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: transparent;
    transition: all .35s ease;
    background-color: #fff;
    padding: 14px 14%;
}


.logo img {
    max-width: 100px;
    height: auto;
}

.cabeçalho-link {
    display: flex;
    gap: 3rem;
}

.cabeçalho-link a {
    color: #111;
    font-weight: 700;
    transition: 0.3s;
}

.cabeçalho-link a:hover {
    color: #008000;
}

.icon span {
    font-size: 2rem;
    cursor: pointer;
}

.icon span:hover {
    color: #008000;
}

.search {
    font-size: 24px;
    color: #333;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.search i {
    font-size: 20px;
    color: #333;
}

.Meio {
    padding: 7rem 0 0 8.5rem;
    line-height: 4rem;
}

.Meio h1 {
    font-size: 4rem;

}

.Meio button {
    background-color: #008000;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;

}

.Meio button:hover {
    background-color: #111;
    transform: scaleY(1.2);
}

section {
    padding-top: 7rem;
}

section h1 {
    align-items: center;
    text-align: center;
    font-size: 2rem;

}

.Container-card-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;

}

.cards img {
    width: 450px;
    height: auto;
    transition: 0.35s ease;

}

.cards img:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;


}

.cta {
    height: 60vh;
    width: 100%;
    background: url(../img/ffffc.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.text-cta {
    padding-left: 5rem;
}

.text-cta h6 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 14px;

}

.text-cta h4 {
    font-size: 3.3rem;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 30px;
}

.text-cta a {
    background-color: #008000;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.text-cta a:hover {
    background-color: #111;
    transform: scaleY(1.2);

}

.Container-roupas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 3rem;

}

.Container-roupas img:hover {
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
    transition: 0.3s;

}

.roupa img {
    width: 250px;
    height: auto;
}

.roupa {
    background-color: #008000;
    color: #000;
}

.Marcas {
    margin-top: 10rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.Marcas img {
    width: 180px;
    height: auto;
    background-color: aliceblue;
}

#Contato {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    background-color: #008000;
    padding: 8rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}

.meio-contato h3 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5 {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.meio-contato li {
    margin-bottom: 15px;
}

.meio-contato li a {
    display: block;
    color: #000;
    font-weight: 600;
    transition: all .35s ease;
}

.last-text {
    text-align: center;
    background-color: #000;
    color: #fff;
}

.site-footer {
    margin-top: 50px;
    text-align: center;
    background-color: #26272b;
    padding: 10px 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    width: 100%;
}

.copyright-text {
    text-align: center;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: center
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}


.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

button[name="buscar"] {
    background-color: #00822b; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    font-size: 16px; 
}

button[name="buscar"]:hover {
    background-color: #006e24; 
}