@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #03A559;
}

/*ESPAÇO DO FORMULÁRIO*/

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

/*ESPAÇO DA IMAGEM DO FORMULÁRIO*/

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

/*ESPAÇO DO FORMULÁRIO*/

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

/*ESPAÇO DA PERGUNTA ABERTA*/

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #1e90ff;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.form-header h1::after { /*Risquinho embaixo do Formulário de Avaliação*/
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #35c04c;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

/*TÍTULO DAS PERGUNTAS FECHADAS*/

.qualidade-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.facilidade-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.probindicar-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.probcomprar-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.pagamento-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

/*ESPAÇO DA QUALIDADE*/

.qualidade-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 7px;
}

.qualidade-input {
    display: flex;
    align-items: center;
}

.qualidade-input input {
    margin-right: 0.35rem;
}

.qualidade-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/*ESPAÇO DA FACILIDADE*/

.facilidade-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 7px;
}

.facilidade-input {
    display: flex;
    align-items: center;
}

.facilidade-input input {
    margin-right: 0.35rem;
}

.facilidade-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/*ESPAÇO DA PROBABILIDADE DE INDICAR*/

.probindicar-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 7px;
}

.probindicar-input {
    display: flex;
    align-items: center;
}

.probindicar-input input {
    margin-right: 0.35rem;
}

.probindicar-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/*ESPAÇO DA PROBABILIDADE DE COMPRAR*/

.probcomprar-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 7px;
}

.probcomprar-input {
    display: flex;
    align-items: center;
}

.probcomprar-input input {
    margin-right: 0.35rem;
}

.probcomprar-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/*ESPAÇO DA PROBABILIDADE DE COMPRAR*/

.pagamento-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 7px;
}

.pagamento-input {
    display: flex;
    align-items: center;
}

.pagamento-input input {
    margin-right: 0.35rem;
}

.pagamento-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/*BOTÃO ENVIAR*/

.enviar-button button {
    width: 100%;
    margin-top: 1px;
    border: none;
    background-color: #03A559;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.enviar-button button:hover {
    background-color: #add8e6;
}

.enviar-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/*TORNANDO RESPONSIVO*/

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    /*RESPONSIVO DA QUALIDADE*/

    .qualidade-inputs {
        margin-top: 2rem;
    }
    .qualidade-group {
        flex-direction: column;
    }
    .qualidade-title h6 {
        margin: 0;
    }
    .qualidade-input {
        margin-top: 0.5rem;
    }

    /*RESPONSIVO DA FACILIDADE*/

    .facilidade-inputs {
        margin-top: 2rem;
    }
    .facilidade-group {
        flex-direction: column;
    }
    .facilidade-title h6 {
        margin: 0;
    }
    .facilidade-input {
        margin-top: 0.5rem;
    }

    /*RESPONSIVO DA PROBABILIDADE DE INDICAR*/

    .probindicar-inputs {
        margin-top: 2rem;
    }
    .probindicar-group {
        flex-direction: column;
    }
    .probindicar-title h6 {
        margin: 0;
    }
    .probindicar-input {
        margin-top: 0.5rem;
    }

    /*RESPONSIVO DA PROBABILIDADE DE COMPRAR*/

    .probcomprar-inputs {
        margin-top: 2rem;
    }
    .probcomprar-group {
        flex-direction: column;
    }
    .probcomprar-title h6 {
        margin: 0;
    }
    .probcomprar-input {
        margin-top: 0.5rem;
    }
}
